.calculator {
	border: 2px solid grey;
	padding: 10px;
	display: inline-block;
	width: 345px;
	border-radius: 2px;
}

.result {
	border: 1px solid grey;
	margin-bottom: 10px;
	border-radius: 1px;
	padding-left: 5px;
	height: 30px;
	display: flex;
	align-items: center;
}

.result-text {
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.row {
	display: flex;
	height: 50px;
	gap: 9px;
	margin-top: 10px;
}

.btn {
	flex: 1;
	background-color: gainsboro;
	border: 1px solid black;
}

.grey button {
	background-color: darkgrey;
}

.btn:hover {
	opacity: 80%;
}

.btn:active {
	background-color: slategray;
}

.main-btns {
	display: flex;
	gap: 10px;
}

.numbers {
	flex: 4;
}

.equal-btn {
	flex: 1;
	margin-top: 10px;
	gap: 10px;
}
